<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pokemon</title>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P|VT323" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    
    <h1> Pokemon Index Page </h1>
    
        <ul class = "pokemon">
            <% for(let i = 0; i < Pokemon.length; i++){%>
                <li>
                 <a href= "/pokemon/<%=i%>"> <%= Pokemon[i].name %> <img class ="index-img" src = "<%= Pokemon[i].img %>"> </a>
                </li>
            <% } %>
        </ul>
<form action="/pokemon/new" method="GET">
    <button class="button" type="submit">Create New</button>
</form>
</body>
</html>