<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        * {text-align: center;}
        h1 {color:red;}
        p {color:blue;}
        img {height:100px;
            width: auto;}
    </style>
</head>
<body>
    
    <h1> Pokemon Index Page </h1>
        <ul class = "pokemon">
            <% for(let i = 0; i < Pokemon.length; i++){%>
                <li>
                   <%= Pokemon[i].name %> <img src = "<%= Pokemon[i].img %>"
                </li>
            <% } %>
        </ul>


</body>
</html>