<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= Pokemon.name %></title>
     <style>
        * {text-align: center;}
        h1 {color:red;}
        p {color:blue;}
    </style>
</head>
<body>
   <h1> <%= Pokemon.name %> </h1><br>
    <img src = "<%= Pokemon.img %>"><br>
    <form action="/pokemon">
        <input type="submit" value="Back to Index"/>
    </form>

</body>
</html>